<div class="container dashboard">
  <div class="row">
    <h1>Dashboard</h1>
    <% if current_user.wallet %>
      <div class="user-keys">
        <p>Address: <%= current_user.wallet.address %></p>
      </div>
    <% end %>

  </div>
</div>
