---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC7dc1199b19346bf9a5ecc3caaa4ed3d3/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B17204086557&To=1-844-872-4681&Body=test
    headers:
      Authorization:
      - Basic QUM3ZGMxMTk5YjE5MzQ2YmY5YTVlY2MzY2FhYTRlZDNkMzphMzA3ZDNlOTQzM2M1ZjIzZTI4OTc0OWRhZmY0YzUyMQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.191'
      Twilio-Request-Id:
      - RQb9c27cd6ea6b4067aa61c0ea1da4cdf7
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21608, "message": "The number +18448724681 is unverified.
        Trial accounts cannot send messages to unverified numbers; verify +18448724681
        at twilio.com/user/account/phone-numbers/verified, or purchase a Twilio number
        to send messages to unverified numbers.", "more_info": "https://www.twilio.com/docs/errors/21608",
        "status": 400}'
  recorded_at: Thu, 16 Jun 2016 02:00:05 GMT
recorded_with: VCR 3.0.3
