
<div class="landing-image-welcome">
  <%= render partial: 'layouts/nav' %>
  <div class="opacity-welcome-top">
    <%= render partial: 'layouts/flash' %>
    <div class="container">
      <div class="row vertical-center-row page-section" id="main">
        <div class="text-center content col-md-12">
          <h1 class="cover-heading">Get Started with ClarkeCoin</h1>
          <p class="lead"> The fastest growing crypocurrency on Blake Street </p>
          <% if !current_user %>
            <%= link_to "Get Started", new_user_registration_path, class: "btn btn-lg btn-success" %>
          <% else  %>
            <%= link_to "See Your Account", dashboard_path, class: "btn btn-lg btn-success-outline" %>
          <% end %>
        </div>
      </div>
    </div>

    <br>
    <div class="row vertical-center-row" style="margin-top:30px">
      <a href="#" class="scroll-link" data-id="joan-info" style="color: white;"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>

  </div>
</div>


<div class="landing-image-bletchley">
  <div class="opacity-welcome-bottom">
    <div class="container">
      <div class="row joan-row page-section" id="joan-info">
        <div class="content col-md-12">
          <h1 style="margin-top: 1.5em;">Behind the 'Clarke' in Clarkecoin</h1>
          <p class="lead">Joan Clarke is a legend, you nerds</p>
        </div>
      </div>
    </div>
  </div>
</div>
