<div class="landing-image-welcome">
  <%= render partial: 'layouts/nav' %>
  <div class="opacity-welcome">
    <%= render partial: 'layouts/flash' %>
    <div class="container">
      <div class="row vertical-center-row">
        <div class="text-center content col-md-12">
          <h1 class="cover-heading">Get Started with ClarkeCoin</h1>
          <p class="lead"> The fastest growing crypocurrency on Blake Street </p>
          <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-lg btn-success-outline" %>
        </div>
      </div>
    </div>
  </div>
</div>
