<div class="landing-image-welcome">
  <%= render partial: 'layouts/nav' %>
  <div class="opacity-welcome-top">
    <%= render partial: 'layouts/flash' %>
    <div class="container">
      <div class="row vertical-center-row page-section" id="main">
        <div class="text-center content col-md-12">
          <h1 class="cover-heading">Get Started with ClarkeCoin</h1>
          <p class="lead"> The fastest growing cryptocurrency on Blake Street </p>
          <% if !current_user %>
            <%= link_to "Get Started", new_user_registration_path, class: "btn btn-lg btn-success" %>
          <% else  %>
            <%= link_to "See Your Account", dashboard_path, class: "btn btn-lg btn-success-outline" %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="row vertical-center-row" style="margin-top: 19em">
      <a href="#" class="scroll-link" data-id="joan-info" style="color: white;"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<div class="landing-image-bletchley">
  <div class="opacity-welcome-bottom">
    <div class="container">
      <div class="row joan-row page-section" id="joan-info">
        <div class="content col-md-12">
          <h1 style="margin-top: 1.5em;">Behind the 'Clarke' in ClarkeCoin</h1>
          <!-- <p class="lead">Joan Clarke was an English cryptanalyst who worked alongside Alan Turing during World War II</p> -->
          <p>Joan Clarke was an English cryptanalyst who worked alongside Alan Turing during World War II. A gifted mathematician, Clarke quickly distinguished herself and rose through the ranks to become one of the best code-breakers at Bletchley Park - despite the era's pronounced discrimation towards women.</p>
          <p>After the war, she became a renowned expert in Numismatics, the study of currency, and went on to publish multiple papers that were regarded as authoritative on the subject.</p>
          <p>Given Clarke's historical role, as well as her fascination with coins and currency, ClarkeCoin proved to be the perfect name for the Turing School of Software and Design’s own in-house cryptocurrency, and serves as a fitting tribute to such an important female figure in Cryptanalysis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
