.flash {
  position: absolute;
  z-index: 10000;
  top: 5%;
  width: 75%;
  margin: auto;
  text-align: center;
}


.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}
