body {
  font-family: "Lato"
}


@mixin background-image-spec {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-image-welcome {
  @include background-image-spec;
  background-image: url("https://images.unsplash.com/photo-1422157245273-e08b638b4b00?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
  min-height: 100vh;
}

.opacity-welcome {
  @include background-image-spec;
  background-color: rgba(#000, .7);
  min-height: 100vh;
}
