// grid


html, body, .container-table {
   height: 100%;
}


.vertical-center-row {
  color: rgba(#fff, .8);
  vertical-align: middle;
  text-align: center;

  .content {
    margin-top: 15%;
  }

  h1 {
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 3%;
    font-family: "Raleway";
  }

  h2 {
    font-size: 36px;
    padding-bottom: 3%;
  }

  p {
    font-size: 24px;
    padding-bottom: 3%;
  }
}

.joan-row {
  color: rgba(#fff, .8);
  vertical-align: middle;
  text-align: left;

  .content {
    margin-top: 5%;

    .info {
      font-size: 14px;
    }
  }

  h1 {
    font-size: 50px;
    padding-bottom: 3%;
    font-family: "Raleway";
    border-bottom: 1px solid white;
  }

  h2 {
    font-size: 36px;
    padding-bottom: 3%;
  }

  p {
    font-size: 18px;
    padding-bottom: 2%;
  }
}

.scroll-link {
  font-size: 24px;
}
