.navbar {
  background-color: rgba(#000, .8);

  .navbar-brand {
    font-family: "Raleway";
    color: white;
    padding-left: 5%;
    font-size: 24px;
  }

  .nav-item {
    padding-top: 0.7%;
    text-transform: uppercase;
  }

  .btn {
    border-radius: none;
    font-size: 12px;
  }
}
