.new-wallet-message {
  margin-top: 20%;
  text-align: center;
  padding-bottom: 5%;

  .card-header {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #000;
    color: #fff;
  }

  .card-text {
    padding-bottom: 2%;
  }

  .skip {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    padding-left: 2%;
  }


}

.dash-button {
  margin-top: 30%;
}

.modal {
  margin-top: 10%;
}
