.log-in{
  width: 65%;
  margin:auto;
  text-align:center;
  padding-top:10%;
  font-family: 'Roboto', Arial, sans-serif;
  color: #000;

  .lead {
    font-size: 36px;
  }
}

.panel-heading{
  background-color:#fff;
}

.form-control{
  width: 500px;
  text-align: center;
  margin:auto;
}

.panel-body p{
  color:#555;
}
