<%= render partial: 'layouts/nav' %>
<%= render partial: 'layouts/side_menu' %>
<div class="col-sm-10 col-xs-12 main-content-area new-transaction">
  <br>
  <div class="row">
    <% if current_user && current_user.primary_wallet %>
    <div class="container">
      <div class="col-sm-10 col-sm-offset-4 col-md-6 10 col-md-offset-3">
          <div class="new-transaction card">
            <div class="card-header">
                Send Coins
            </div>
            <div class="card-block">
              <form id="submit-transaction">
                <div class="form-group">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input class="form-control" placeholder="RECEIPIENT EMAIL" type="email" aria-describedby="sizing-addon1" name="to">
                  </div>
                  <div class="send-help">
                    <a href="#" data-toggle="modal" data-target="#send-help"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Or:</a>
                  </div>
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input class="form-control" id="from" placeholder="RECEIPIENT CLC ADDRESS" aria-describedby="sizing-addon1" name="address">
                  </div>
                  <br>
                  <hr>
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">CLC</i></span>
                    <input autocomplete="off" id="amount" class="form-control" type="amount" placeholder="AMOUNT" name="amount"/>
                  </div>
                  <hr>
                    <p class="wallet-select">Send From: <%= collection_select(:wallet, :id, current_user.wallets, :id, :balance_with_id ) %></p>
                  <hr>
                  <footer id="submitTransaction">
                    <input type="submit" id="sendCoin" class="btn btn-success btn-lg btn-block log" value="Send"></input>
                  </footer>
                </div>
              </form>
            </div>
          </div>
        </div>
    <% else %>
    <div class="row">
      <%= link_to "You need a wallet to get started", wallets_new_path, class: "btn btn-alert" %>
    </div>
    <% end %>
  </div>
</div>


<!-- modal -->

<div class="modal fade" id="send-help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></h1>
      </div>
      <div class="modal-body">
        You can either send money to an email address, where it will be deposited into the recepients primary wallet, or
        send directly to a wallet address.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
