<strong>Welcome <%= current_user.email %></strong>
<span class="pull-right">
  <button class="btn btn-success" data-toggle="modal" data-target="#dash-create-wallet">Create New Wallet</button>

  <!--  modal / -->
  <div class="modal fade" id="dash-create-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="dashboardWallet">Create a New Wallet</h4>
        </div>
        <div class="modal-body">

          <form id="wallet-form">
            <div class="form-group">
              <label for="walletName">Name </label>
              <input name="wallet_name" id="walletName" autocomplete="off" type="text" class="form-control" placeholder="15 Characters Maximum" required="true" maxlength="15">
            </div>
            <div class="form-group">
              <label for="privateKey">Private Key </label>
              <input name="private_key" id="privateKey" autocomplete="off" type="text" class="form-control" placeholder="Optional">
            </div>
            <button type="submit" class="btn btn-success">Create</button>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</span>
