<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand container" href="<%= root_path  %>">ClarkeBase</a>
    <ul class="nav navbar-nav">
      <% if !current_user %>
        <li class="nav-item container pull-xs-right">
          <a class="btn btn-success" href="<%= new_user_registration_path%>">Sign Up</a>
        </li>
        <li class="nav-item container pull-xs-right">
          <a class="btn btn-secondary-outline" href="<%= new_user_session_path  %>">Sign In</a>
        </li>
      <% end  %>
      <% if current_user %>
        <li class="nav-item container pull-xs-right">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary-outline" %>
        </li>
      <% end  %>
    </ul>
  </div>
</nav>
