<div class="col-sm-2 sidebar hidden-xs">
  <ul class="nav nav-pills nav-stacked left-side">
    <li class="nav-item">
      <br>
      <a class="nav-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-folder-open" aria-hidden="true"></i> Wallets</a>
      <div class="collapse wallets" id="collapseExample">
        <% @wallets.each do |wallet| %>
          <a class="card card-block sidebar-wallet" href="#">
            Wallet <%= wallet.id %>
            <span class="pull-right"><%= wallet.balance %> CLC</span>
          </a>
        <% end %>
      </div>
    </li>
    <br>
    <hr>
    <li class="nav-item">
      <span class="option-image"><a class="nav-link" href="<%= transactions_new_path %>">Send ClarkeCoins</a></span>
    </li>
    <hr>
    <br>
    <li class="nav-item">
      <span><a class="nav-link" href="#">Address Book</a></span>
    </li>
    <hr>
    <br>
    <li class="nav-item">
      <span><a class="nav-link" href="#">Settings</a></span>
    </li>
    <hr>
  </ul>
</div>
<div class="col-sm-10 col-xs-12 main-content-area">
  <br>
