<div class="col-sm-2 sidebar hidden-xs">
  <ul class="nav nav-pills nav-stacked left-side">
    <li class="nav-item">
      <br>
      <span><a class="nav-link <%= 'active' if params[:controller] == 'dashboard' %>" href="/dashboard">Main</a></span>
    </li>
    <hr>
    <br>
    <li class="nav-item">
      <span class="option-image"><a class="nav-link <%= 'active' if params[:controller] == 'transactions' %>" href="#">Send ClarkeCoins</a></span>
    </li>
    <hr>
    <br>
    <li class="nav-item">
    <!-- <span><a class="nav-link" href="#">Address Book</a></span> -->
    <span><%= link_to "Friends", friends_path, class: "nav-link #{'active' if params[:controller] == 'address_books' }" %></span>
    </li>
    <hr>
    <br>
    <li class="nav-item">
      <span><a class="nav-link" href="#">Settings</a></span>
    </li>
    <hr>
    <br>
  </ul>
</div>
<div class="col-sm-10 col-xs-12 main-content-area">
  <br>
