<!DOCTYPE html>
<html>
<head>
  <title>Clarkebase</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Libre+Franklin' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/4.0.3/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/sweetalert2/4.0.3/sweetalert2.min.js"></script>
  <script src="https://use.fontawesome.com/3bc48beda0.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>
